@import '/src/assets/styles/variables';

.d100__container {
  height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  background-color: $white;

  .d100__roll_history {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .d100__roll_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .d100__roll_result {
      height: 7rem;
      width: 9rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 15px;
      margin-bottom: 2rem;

      &.red {
        background-color: $dice_red;
      }

      &.black {
        background-color: $dark_grey;

        p {
          color: $white;
        }
      }

      &.green {
        background-color: $dice_green;
      }

      &.gold {
        background-color: $dice_gold;
      }

      &.blue {
        background-color: $dice_blue;
      }

      p {
        font-size: 5rem;
        font-weight: 600;
        color: $dark_blue;
      }
    }

    button {
      font-size: 1rem;
      padding: .5rem 2rem;

      svg {
        padding-left: .5rem;
      }
    }

    .d100__roll_buffs_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 1rem;

      .d100__roll_buffs_select {
        height: 100%;
        margin-right: .5rem;

        .button_buff {
          background-color: $buff;
          color: $white;
        }

        .button_debuff {
          background-color: $debuff;
          color: $white;
        }
      }
    }
  }
}

.d100__roll_history_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75dvh;
  width: 75vw;
  border: none;
  border-radius: 15px;
  background-color: $white;
  font-family: 'Inter', sans-serif;
  transform: translate(-50%, -50%);
  padding: 1.5rem;

  @media (min-width: 1024px) {
    width: 30vw;
  }

  .d100__roll_history_modal_title {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $dark_grey;
    }

    button:nth-child(1) svg {
      padding-left: .5rem;
    }
  }

  .d100__roll_history_modal_list {
    max-height: calc(75dvh - 3rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    padding-top: 1rem;

    .d100__roll_history_modal_list_item {
      flex: 1 0 30%;
      border: none;
      border-radius: 7px;
      color: $white;
      text-align: center;
      padding: .5rem 0;

      &.red {
        background-color: $dice_red;

        p {
          color: $white;
        }
      }

      &.black {
        background-color: $dark_grey;

        p {
          color: $white;
        }
      }

      &.green {
        background-color: $dice_green;
      }

      &.gold {
        background-color: $dice_gold;
      }

      &.blue {
        background-color: $dice_blue;
      }

      p {
        color: $dark_grey;
      }
    }
  }
}