$dark_blue: #2B2D42;
$light_blue: #8D99AE;
$dark_grey: #252525;
$light_grey: #EDF2F4;
$red: #EF233C;
$white: #FFF;
$dice_red: #f70000;
$dice_green: #98dc00;
$dice_gold: #ffb300;
$dice_blue: #00e7ff;
$buff: #42A5F5;
$debuff: #EF5350;